/* Header home page */
.header {

    &__logo {
        @include bg-images-center;
        background-image: url(../../images/logo/ohmyfood@2x.svg);
        height: 4.5rem;
        padding: $padding-large;
        position: relative;

    }

}

/* Header menu page */

.fa-arrow-left {
    position: absolute;
    left: 3rem;
    top:3rem;
    @include xsmall{
        left: 1rem;

    }
    
}