/* Mixin for flexbox */
/* Mixin for Animations */
/* l'effet de grossissment */
/*  transition-property: transform;
    transition-duration: 300ms; */
/* Media queries */
/* Animation for loader */
@keyframes loader {
  0% {
    height: 100%;
    width: 100%;
    opacity: 0.9;
  }
  90% {
    height: 100%;
    width: 100%;
    opacity: 0.9;
  }
  99% {
    height: 100%;
    width: 100%;
    opacity: 0;
  }
  100% {
    height: 0%;
    width: 0%;
    opacity: 0;
  }
}
@keyframes bounce {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
/* KEYFRAMES FOR MEALS */
/* KEYFRAMES ANIMATIONS FOR MEALS */
@keyframes slide-in {
  from {
    transform: translateY(-40%);
  }
  to {
    transform: translateY(0%);
  }
}
.slide-in--1 {
  animation: slide-in 2s;
}
.slide-in--2 {
  animation: slide-in 4s;
}
.slide-in--3 {
  animation: slide-in 6s;
}
.slide-in--4 {
  animation: slide-in 8s;
}

@keyframes menu {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  50% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.menu-1 {
  animation: menu 2s ease-in-out;
}
.menu-2 {
  animation: menu 4s ease-in-out;
}
.menu-3 {
  animation: menu 6s ease-in-out;
}

.text--small {
  font-size: 1.3rem;
}

.icon--small {
  font-size: 1.3rem;
}

.text--medium {
  font-size: 1.6rem;
}

.icon--medium {
  font-size: 1.6rem;
}

.text--large {
  font-size: 2rem;
}

.icon--large {
  font-size: 2rem;
}

.text--xlarge {
  font-size: 3rem;
}

.icon--xlarge {
  font-size: 3rem;
}

.font--roboto {
  font-family: "Roboto";
}

.font--shrikhand {
  font-family: "Shrikhand";
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

h3 {
  font-size: 1.5rem;
}

P {
  font-size: 1.4rem;
}

.color--white {
  color: #fff;
}
.color--black {
  color: rgb(35, 33, 33);
}
.color--tertiary {
  color: #99E2D0;
}

a:link, a:visited, a:hover, a:active {
  text-decoration: none;
}

.btn {
  text-decoration: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  font-family: "Roboto";
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.btn--pink {
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  padding: 1.3rem;
  border-radius: 5rem;
  color: #fff;
  margin: 2rem;
  text-align: center;
  transition-duration: 1s;
  transition-delay: 0.5s;
}
.btn--pink:hover {
  transform: translateX(0px) translateY(-5px);
  box-shadow: rgba(14, 14, 16, 0.55) 0px 13px 27px -5px, rgba(0, 0, 0, 0.8) 0px 8px 16px -8px;
}
.btn--pink:hover {
  opacity: 0.7;
}

.menu--btn {
  width: 20rem;
  margin: auto;
  margin-top: 2rem;
  font-family: "Roboto";
}

.cards--1, .cards--2, .cards--3, .cards--4 {
  margin-bottom: 2rem;
  height: 100%;
  border-radius: 1.5rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  position: relative;
  transition-duration: 1s;
  transition-delay: 0.5s;
}
.cards--1:hover, .cards--2:hover, .cards--3:hover, .cards--4:hover {
  transform: translateX(0px) translateY(-5px);
  box-shadow: rgba(14, 14, 16, 0.55) 0px 13px 27px -5px, rgba(0, 0, 0, 0.8) 0px 8px 16px -8px;
}
@media screen and (max-width: 2500px) and (min-width: 1600px) {
  .cards--1, .cards--2, .cards--3, .cards--4 {
    width: 65rem;
    height: auto;
    margin: 2rem;
  }
}
@media screen and (max-width: 1600px) and (min-width: 768px) {
  .cards--1, .cards--2, .cards--3, .cards--4 {
    width: 50rem;
    margin: 2rem;
  }
}
@media screen and (max-width: 768px) and (min-width: 599px) {
  .cards--1, .cards--2, .cards--3, .cards--4 {
    width: 50rem;
    margin: 2rem;
  }
}
.cards--detail {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: #099f79;
  font-weight: bold;
  background-color: #99E2D0;
  padding: 0.8rem 1.8rem;
  border-radius: 0.25rem;
}
.cards--body {
  background: #fff;
  border-radius: 0 0 1rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.3rem;
  font-family: "Roboto";
  position: relative;
}
.cards--icons {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background: transparent;
  width: 2rem;
  height: 2rem;
}
.cards--icons > i {
  position: absolute;
  bottom: 0.1rem;
  right: 0.1rem;
}
.cards--icons:hover > .cards--icons--empty {
  opacity: 0;
}
.cards--icons--fill {
  opacity: 0;
}
.cards--icons--fill:hover {
  transform: scale(0.87);
  color: transparent;
  background-image: linear-gradient(to top left, #9356DC, #FF79DA);
  -webkit-background-clip: text;
  background-clip: text;
  opacity: 1;
  font-size: 2.5rem;
  bottom: 0;
}
@media screen and (max-width: 2500px) and (min-width: 1600px) {
  .cards--block--1, .cards--block--2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1600px) and (min-width: 768px) {
  .cards--block--1, .cards--block--2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) and (min-width: 599px) {
  .cards--block--1, .cards--block--2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
.cards--image--1 {
  background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20rem;
  border-radius: 1rem 1rem 0 0;
}
.cards--image--2 {
  background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20rem;
  border-radius: 1rem 1rem 0 0;
}
.cards--image--3 {
  background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20rem;
  border-radius: 1rem 1rem 0 0;
}
.cards--image--4 {
  background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20rem;
  border-radius: 1rem 1rem 0 0;
}

.header--menu--img__1 {
  background-image: url("../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 28rem;
}
.header--menu--img__2 {
  background-image: url("../../images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 28rem;
}
.header--menu--img__3 {
  background-image: url("../../images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 28rem;
}
.header--menu--img__4 {
  background-image: url("../../images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 28rem;
}

/* Header home page */
.header__logo {
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(../../images/logo/ohmyfood@2x.svg);
  height: 4.5rem;
  padding: 4rem;
  position: relative;
}

/* Header menu page */
.fa-arrow-left {
  position: absolute;
  left: 3rem;
  top: 3rem;
}
@media screen and (max-width: 350px) {
  .fa-arrow-left {
    left: 1rem;
  }
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
  background: rgb(44, 42, 42);
}
footer p {
  margin-bottom: 2rem;
}
footer ul li {
  list-style-type: none;
  margin-bottom: 1.3rem;
}
footer ul li a {
  text-decoration: none;
}
footer ul li i {
  margin-right: 1.3rem;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  height: 100%;
  width: 100%;
  background-color: #9356DC;
  animation: loader 3.5s forwards;
}
.loader .spinner {
  margin: auto;
  margin-top: 40rem;
  width: 15rem;
  text-align: center;
}
.loader .spinner .bounce1 {
  background: #FF79DA;
}
.loader .spinner .bounce2 {
  background: #99E2D0;
}
.loader .spinner .bounce3 {
  background: #fff;
}

.spinner > div {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  display: inline-block;
  animation: bounce 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  animation-delay: -0.62s;
}

.spinner .bounce2 {
  animation-delay: -0.36s;
}

.spinner .bounce3 {
  animation-delay: -0.16s;
}

/* 1. Section Location  */
#location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: rgb(213, 213, 213);
  padding: 1.3rem;
}

/* 2. Section Menu Reservation   */
#reservation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgb(236, 236, 236);
  padding: 2rem;
}

/* 3. Section Function  */
#function {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
#function h1 {
  margin-right: 10rem;
}
@media screen and (max-width: 1600px) and (min-width: 768px) {
  #function {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #function h1 {
    margin: auto;
  }
}
@media screen and (max-width: 768px) and (min-width: 599px) {
  #function {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #function h1 {
    margin-right: 0;
  }
}
#function .function {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 2500px) and (min-width: 1600px) {
  #function .function {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1600px) and (min-width: 768px) {
  #function .function {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) and (min-width: 599px) {
  #function .function {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
#function .function--btn {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  background: rgb(236, 236, 236);
  padding: 2rem;
  border-radius: 1.5rem;
  margin: 1.3rem;
  width: 25rem;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition-duration: 0.1s;
  transition-delay: 0.3s;
}
@media screen and (max-width: 1600px) and (min-width: 599px) {
  #function .function--btn {
    width: 22rem;
  }
}
#function .function--btn:hover {
  background: #ede1fc;
}
#function .function--btn:hover :nth-child(2) {
  color: #9356DC;
}
#function .function--btn i {
  color: rgb(134, 132, 132);
}
#function .function--text {
  font-weight: 600;
}
#function .function--number {
  position: absolute;
  background: #9356DC;
  height: 1.7rem;
  width: 1.7rem;
  border-radius: 10rem;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: -2.8rem;
  font-size: 1.2rem;
}

/* 4. Section Cards  */
#card {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 2rem;
  background: rgb(236, 236, 236);
}
@media screen and (max-width: 1600px) and (min-width: 768px) {
  #card h1 {
    margin: auto;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 2500px) and (min-width: 1600px) {
  #card h1 {
    margin: auto;
    margin-bottom: 2rem;
  }
}

h3.cards--title,
p.cards--text {
  color: rgb(35, 33, 33);
}

#main--menu {
  background: rgb(236, 236, 236);
  padding-bottom: 4rem;
}

.header--menu--img {
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 28rem;
}
@media screen and (max-width: 768px) and (min-width: 599px) {
  .header--menu--img {
    height: 40rem;
  }
}
@media screen and (max-width: 1600px) and (min-width: 768px) {
  .header--menu--img {
    height: 40rem;
  }
}

.main__menu {
  background: rgb(236, 236, 236);
  position: relative;
  margin-top: -5rem;
  border-radius: 4rem 4rem 0 0;
}

.cards--icons--menu {
  position: absolute;
  top: 8rem;
}
@media screen and (max-width: 350px) {
  .cards--icons--menu {
    top: 7.5rem;
  }
}

.menu__title {
  font-family: Shrikhand, sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
}
@media screen and (max-width: 350px) {
  .menu__title {
    font-size: small;
  }
}

.cards--icons {
  margin-top: -3rem;
}

.full__menu {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  background: rgb(236, 236, 236);
  /* FOR MENU 2 */
}
@media screen and (max-width: 1600px) and (min-width: 768px) {
  .full__menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 2500px) and (min-width: 1600px) {
  .full__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (max-width: 1600px) and (min-width: 768px) {
  .full__menu__2 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.menu--section {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}
.menu--section__title {
  text-transform: uppercase;
  border-bottom: 0.4rem solid #99E2D0;
  width: 3.4rem;
  height: 2.5rem;
  font-family: "Roboto";
  margin-left: 2rem;
}
.menu--section__title:hover {
  width: 7rem;
  transition-duration: 0.1s;
  transition-delay: 0.3s;
}

.meals {
  background: #fff;
  padding: 1.3rem;
  display: flex;
  border-radius: 1.3rem;
  margin: 1rem 2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  cursor: pointer;
  font-family: "Roboto";
  font-size: medium;
  overflow: hidden;
  /* for icon */
  position: relative;
  height: 6.5rem;
}
.meals h4 {
  margin-bottom: 0.3rem;
}
@media screen and (max-width: 1600px) and (min-width: 768px) {
  .meals {
    width: 23rem;
    margin: 1rem;
  }
}
@media screen and (max-width: 2500px) and (min-width: 1600px) {
  .meals {
    width: 100%;
    margin: 1rem;
  }
}
.meals:hover > .menu--price__icon {
  right: 0px;
}
.meals:hover > .menu--price__icon > i {
  transition: 0.5s;
  transform: rotate(-360deg);
}
.meals:hover > .menu--price__euro {
  margin-right: 5rem;
  transition: 0.5s;
}

.menu--price,
.menu--price--title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.menu--price {
  flex: 1;
}
.menu--price--text {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu--price__euro {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
  font-weight: bold;
}
.menu--price__icon {
  height: 6.5rem;
  width: 5rem;
  background: #99E2D0;
  position: absolute;
  top: 0;
  right: -6rem;
  transition: 0.5s;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.menu--price__icon > i {
  position: absolute;
}
.menu--price__icon > .fa-circle {
  z-index: 1;
}
.menu--price__icon > .fa-check {
  z-index: 4;
}

/*# sourceMappingURL=style.css.map */
