*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {

    font-size: 62.5%;
}

body {
    box-sizing: border-box;

}

h3 {
    font-size: 1.5rem;
}

P {
    font-size: 1.4rem;
}

.color {
    &--white {
        color: $color-white;
    }

    &--black {
        color:$color-black;
    }
    &--tertiary {
        color:$color-tertiary;
    }
}