#main--menu {
    background: $light-grey;
    padding-bottom: $padding-large;

}

.header--menu--img {
    @include card-images-menu;

    @include tablet-only {
        height: 40rem;
    }

    @include desktop-only {
        height: 40rem;
    }

}

.main__menu {
    background: $light-grey;
    position: relative;
    margin-top: -5rem;
    border-radius: 4rem 4rem 0 0;

}

.cards--icons--menu{
    position: absolute;
    top: 8rem;
    @include xsmall{
        top: 7.5rem;
    } 
 
}

.menu__title {
    font-family: Shrikhand, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 2rem;

    @include xsmall{
        font-size: small;  
    }


}

.cards--icons{
    margin-top: -3rem;
}

.full__menu {
    @include column-stretch;
    background: $light-grey;

    @include desktop-only {
        @include row-center;
      
    }

    @include desktop-large {
        @include row-space-around;

    }

    /* FOR MENU 2 */

    &__2 {
        @include desktop-only {
            @include row-start-spacearound;
            
        }
    }
}

.menu--section {
    display: flex;
    flex-direction: column;
    margin-bottom: $margin-medium;

    &__title {
        text-transform: uppercase;
        border-bottom: .4rem solid $color-tertiary;
        width: 3.4rem;
        height: 2.5rem;
        font-family: "Roboto";
        margin-left: $margin-medium;

        &:hover {
            width: 7rem;
            @include animation-transition;

        }
    }

}


.meals {
    background: $color-white;
    padding: $padding-small;
    display: flex;
    border-radius: 1.3rem;
    margin: 1rem 2rem;
    box-shadow: $box-shadow;
    cursor: pointer;
    font-family: "Roboto";
    font-size: medium;
    overflow: hidden;
    /* for icon */
    position: relative;
    height: 6.5rem;

    & h4 {
        margin-bottom: .3rem;
    }


    @include desktop-only {
        width: 22rem;
      
    }


    @include desktop-large {
        width: 30rem;

    }

    &:hover>.menu--price__icon {
        right: 0px;
    }

    &:hover>.menu--price__icon>i {
        transition: 0.5s;
        transform: rotate(-360deg);

    }

    &:hover>.menu--price__euro {
        margin-right: 5rem;
        transition: 0.5s;

    }

}

.menu--price,
.menu--price--title {
    @include ellipsis;
}

.menu--price {
    flex: 1;

    &--text {
        margin: 0;
        @include ellipsis;

    }

    &__euro {

        @include row-end;
        padding-left: .5rem;
        font-weight: bold;

    }

    &__icon {
        height: 6.5rem;
        width: 5rem;
        background: $color-tertiary;
        position: absolute;
        top: 0;
        right: -6rem;
        transition: .5s;
        @include row-center;

        &>i {
            position: absolute;

        }

        &>.fa-circle {
            z-index: 1;


        }

        &>.fa-check {
            z-index: 4;

        }

    }

}